<!DOCTYPE html>
<html lang="en">
<head>
<title>Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="__PUBLIC__/yiniu/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="__PUBLIC__/yiniu/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="__PUBLIC__/yiniu/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="__PUBLIC__/yiniu/js/jquery-1.6.js" ></script>
<!--
<script type="text/javascript" src="__PUBLIC__/yiniu/js/cufon-yui.js"></script>
<script type="text/javascript" src="__PUBLIC__/yiniu/js/cufon-replace.js"></script>  
-->
<script type="text/javascript" src="__PUBLIC__/yiniu/js/Forum_400.font.js"></script>
<script type="text/javascript" src="__PUBLIC__/yiniu/js/atooltip.jquery.js"></script> 
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<style type="text/css">
		.slider_bg {behavior:url(js/PIE.htc)}
	</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style='clear:both;text-align:center;position:relative'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body6">
	<div class="body1">
		<div class="main">
<!-- header -->
			<header>
					<h1><a href="/index.php" id="logo">Deliccio Classic European Cuisine</a></h1>
					<nav>
						<ul id="top_nav">
							<li><a href="/index.php"><img src="__PUBLIC__/yiniu/images/icon_1.gif" alt=""></a></li>
							<li><a href="#"><img src="__PUBLIC__/yiniu/images/icon_2.gif" alt=""></a></li>
							<li class="end"><a href="/index.php/Home/Contacts/index.html"><img src="__PUBLIC__/yiniu/images/icon_3.gif" alt=""></a></li>
						</ul>
					</nav>
					<nav>
						<ul id="menu">
							<li class="active"><a href="/index.php">首页</a></li>
							<li><a href="">公司文化</a></li>
							<li><a href="">商城</a></li>
							<li><a href="">社区</a></li>
							<li><a href="/index.php/Home/Contacts/index.html">联系我们</a></li>
						</ul>
					</nav>
				</header><div class="ic">More Website Templates  @ TemplateMonster.com - August 1st 2011!</div>
<!-- / header -->
<!-- content -->
			<article id="content">
				<div class="wrap">
					<div class="box">
						<div>
							<h2 class="letter_spacing">联系 <span>信息</span></h2>
							<form id="ContactForm">
								<div>
									<div class="wrapper">
										<span>您的姓名：</span>
										<input type="text" class="input" >
									</div>
									<div class="wrapper">
										<span>E-mail：</span>
										<input type="text" class="input" >								
									</div>
									<div class="textarea_box">
										<span>您的简介：</span>
										<textarea name="textarea" cols="1" rows="1"></textarea>								
									</div>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').submit()">发送</a>
									<a href="#" class="button1" onClick="document.getElementById('ContactForm').reset()">重置</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>
<div class="body2">
	<div class="main">
		<article id="content2">
			<div class="wrapper">
				<section class="pad_left1">
					<div class="wrapper">
						<div class="cols">
							<h2>我们的联系方式</h2>
						</div>
						<div class="col3 pad_left1">
							<h2>杭州伊牛网络科技有限公司</h2>
						</div>
					</div>
					<div class="line1">
						<div class="wrapper line2">
							<div class="cols">
								<div class="wrapper pad_bot1">
									<p>相文彬  CEO&创始人</p>
									<p class="address">
										中国浙江杭州市拱墅区祥园路91号12楼<br>
										<span>电话:</span>    18967765695<br>
										<span>E-mail:</span>             <a href="mailto:">343319025@qq.com</a>
									</p>
								</div>
							</div>
							<div class="col3 pad_left1">
								<p>
									创业是个失败概率很高的事情，据说在当下资本寒冬时期、99.8%的失败率、活下来的不到一个点、我们很高兴从2015年到现在还活着， 而且下来还要活的更精彩、带着一帮牛人、做一件牛逼的事情。
								</p>
								我们认为，相比较创业者需要的社会资源、业务、资金、人脉关系来说，团队才是公司的核心、信誉才是一切。真正一开始就能找到业务定位的团队并不是多数，大多数成功的团队在做好现有项目的同时抓住了另外一次机遇，然后迅速的崛起。这么说并不是指我们现在的项目有多差，相反，我们目前的项目在行业内保持在前列，我们也在招募更多的优秀人才，主要是为了保持更大的领先并拓展更大的平台。
							</div>
						</div>
					</div>
				</section>
			</div>
		</article>
<!-- / content -->
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3>联系电话: <span>18967765695</span></h3>				
					</section>
					<section class="col2 pad_left1">
						<h3>媒体 </h3>
						<ul id="icons">
							<li><a href="#" class="normaltip" title="Facebook"><img src="__PUBLIC__/yiniu/images/icon1.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Linkedin"><img src="__PUBLIC__/yiniu/images/icon2.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Twitter"><img src="__PUBLIC__/yiniu/images/icon3.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Delicious"><img src="__PUBLIC__/yiniu/images/icon4.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Technorati"><img src="__PUBLIC__/yiniu/images/icon5.gif" alt=""></a></li>
						</ul>
					</section>
				</div>
				<!-- {%FOOTER_LINK} -->
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<!--
<script type="text/javascript"> Cufon.now(); </script>
-->
</body>
</html>